* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: black;
  --cor1: white;
  --cor2: #d02716;
  --cor3: #0597f2;
  --cor4: #fde538;
  --cor5: #1d1e1f;
  --cor6: #f17d72;

  --fonte-texto: "Poppins", sans-serif;
  --fonte-titulo: "Bungee Inline", cursive;
}
#nav {
  background-color: var(--cor0);
  font-family: var(--fonte-texto);
}

#link1 {
  color: var(--cor4);
  font-family: var(--fonte-titulo);
}
#link2 {
  color: white;
}
#link2:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--cor4);
}
#logo {
  width: 40px;
  height: 35px;
  border: solid 2px #fde538;
  border-radius: 50%;
}
#span1 {
  font-family: var(--fonte-texto);
  color: var(--cor0);
}
#h1 {
  font-family: var(--fonte-titulo);
  color: #fde538;
}
#section1 {
  background-color: #1d1e1f;
}
#texto1 {
  text-align: justify;
  color: white;
  font-family: var(--fonte-texto);
  line-height: 1.7;
  font-size: large;
}
#texto2 {
  text-align: center;
  color: #0597f2;
  font-family: var(--fonte-texto);
  line-height: 1.7;
  font-size: larger;
}
#seta {
  color: #d02716;
}
#section2 {
  background-color: black;
}
#card {
  border: 2px solid #fde538;
  font-family: var(--fonte-texto);
  
}
#img1 {
  width: 190px;
  margin: auto;
}
#img2 {
  width: 234px;
  margin: auto;
}
#img3 {
  width: 117px;
  margin: auto;
}
#span {
  font-family: var(--fonte-texto);
  font-size: small;
  font-weight: 600;
  color: #fde538;
  background-color: #1d1e1f;
  padding: 2px 3px;
  border-radius: 8px;
}
#span2 {
  color: #e9d434;
}
#section3 {
  background-color: #1d1e1f;
}
#p1 {
  font-size: 1rem;
  color: #beb03e;
}
#texto3 {
  font-size: large;
  color: white;
  font-family: var(--fonte-texto);
  line-height: 1.7;
}
#texto4 {
  font-size: large;
  color: white;
  font-family: var(--fonte-texto);
  line-height: 1.7;
}
#section4 {
  background-color: var(--cor0);
}
#icon {
  color: var(--cor4);
}
#link3 {
  text-decoration: none;
  font-family: var(--fonte-texto);
  font-size: large;
  color: white;
}
#link3:hover {
  text-decoration: none;
  color: #beb03e;
}
#section5 {
  font-family: var(--fonte-texto);
  font-size: small;
  font-weight: 700;
  background-color: white;
  color: black;
}
#nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}
#img4 {
  width: 242px;
  margin: auto;
}
#img5 {
  width: 190px;
  margin: auto;
}
#img6 {
  width: 190px;
  margin: auto;
}
#img7 {
  width: 190px;
  margin: auto;
}
#img8 {
  width: 190px;
  margin: auto;
}
#img9 {
  width: 140px;
  margin: auto;
}